<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Location Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Location Finder</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="background-color: rgb(244, 180, 53);">
    <h3>Your previous location was</h3>
    <p>Latitude: {{lat}}</p>
    <p>Longitude: {{lng}}</p>
      <ion-button (click)="myLocation()">My Location</ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor="let x of locationList; let i = index">
    {{x}}
      <div class="item-note" slot="end">
        <ion-button color="danger" (click)="removeLocation(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
